@media (min-width: 768px) {
  html {
    max-width: 960px;
    margin: auto;
  }

  #flexBox {
    display: grid;
    grid-template-columns: 20.83% 79.16%;    
  }

  #row1 ,#row3,#row2 {
    display: flex;
    align-content: flex-start;
  }
  
}

@media (min-width: 480px) and (max-width: 767px) {
  html {
    width: 767px;
  }
  main {
    max-width: 480px;
    margin: 0 auto;
  }

  #flexBox {
    display: grid;
    grid-column: 1;
  }

  #row2 {
    display: grid;
    grid-template-columns: repeat(2,50%);
  }

}