header nav a:hover {
    color: crimson;
    opacity: 0.6;
}

@media (min-width: 400px) and (max-width: 960px) {
    header nav a:hover {
        color: rgb(124, 158, 3);
        opacity: 0.6;
    }
}