@media (min-width: 768px) {
  #a {
    background-color: rgb(255, 182, 182);
  }
  #b {
    background-color: rgb(255, 214, 153);
  }
  #c {
    background-color: rgb(254, 255, 173);
  }
  #d {
    background-color: rgb(182, 253, 173);
  }
  #e {
    background-color: rgb(191, 255, 255);
  }
  #f {
    background-color: rgb(198, 207, 255);
  }
  #g {
    background-color: rgb(237, 190, 255);
  }
  #h {
    background-color: rgb(255, 203, 246);
  }
  #i {
    background-color: rgb(179, 176, 176);
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  #a {
    background-color: rgb(65, 1, 1);
  }
  #b {
    background-color: rgb(56, 34, 1);
  }
  #c {
    background-color: rgb(55, 56, 1);
  }
  #d {
    background-color: rgb(7, 54, 1);
  }
  #e {
    background-color: rgb(1, 70, 70);
  }
  #f {
    background-color: rgb(0, 8, 49);
  }
  #g {
    background-color: rgb(42, 1, 58);
  }
  #h {
    background-color: rgb(53, 1, 44);
  }
  #i {
    background-color: rgb(39, 1, 1);
  }
  div {
    color: white;
  }

}